<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
</head>
<body>
    Test
    <% if (locals.authenticated && locals.authenticated == true) { %>
        <div>
            Logged In as <%= locals.email %>
            <a href="/logout">Log Out</a>
            <div>
                <%- include('partials/_addFolder', { currentPath: currentPath }) %>
                <%- include('partials/_addFile', { currentPath: currentPath }) %>
                <%- include('partials/_renameFolder', { workingDirectory: workingDirectory }) %>
                <%- include('partials/_deleteFolder', { workingDirectory: workingDirectory }) %>
            </div>
            <h2>My Files</h2>
            <% if (locals.folders && locals.folders.length > 0) { %>
                <h3>Folders</h3>
                <div>
                    <% locals.folders.forEach(folder => { %>
                       <a href="/<%= currentPath %>/<%= folder.name %>"><%= folder.name %></a>
                    <% }) %>
                </div>
            <% } %>
            <% if (locals.files && locals.files.length > 0) { %>
                <h3>Files</h3>
                <div>
                    <% locals.files.forEach(file => { %>
                        <a href="/<%= file.path %>"><%= file.name %></a>
                    <% }) %>
                </div>
            <% } %>
            <% if (currentPath === `uploads/${userId}/`) { %>
                <a href="http://localhost:3000/">Back</a>
              <% } else { %>
                <a href="/<%= currentPath.replace(/\/[^\/]+\/?$/, '') %>">Back</a>
              <% } %>
            <div>
                Data:
                <%= JSON.stringify(locals) %>
            </div>
        </div>
    <% } %>
</body>
</html>