<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
</head>
<body>
    <% if (locals.authenticated && locals.authenticated == true) { %>
        <div>
            Logged In as <%= locals.email %>
            <a href="/logout">Log Out</a>
            <div>
                <%- include('partials/_addFolder') %>
                <a href="/files/add-file">Add File</a>
            </div>
            <% if (locals.folder && locals.folder.length > 0) { %>
                <div>
                    <h2>Files</h2>
                    <% locals.folder.forEach(item => { %>
                        <a href="/<%= item.path %>"><%= item.name %></a>
                    <% }) %>
                </div>
            <% } %>
            <div>
                Data:
                <%= JSON.stringify(locals) %>
            </div>
        </div>
    <% } else { %>
        <div><a href="/sign-in">Sign In</a></div>
        <div><a href="/sign-up">Sign Up</a></div>
    <% } %>
</body>
</html>