<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
</head>
<body>
    <% if (locals.authenticated && locals.authenticated == true) { %>
        <div>
            Logged In as <%= locals.email %>
            <a href="/logout">Log Out</a>
            <div>
                <%- include('partials/_addFolder', { currentPath: currentPath }) %>
                Test
                <%- include('partials/_addFile', { currentPath: currentPath }) %>
            </div>
            <h2>My Stuff</h2>
            <% if (locals.folders && locals.folders.length > 0) { %>
                <h3>Folders</h3>
                <div>
                    <% locals.folders.forEach(folder => { %>
                       <a href="<%= folder.path %>"><%= folder.name %></a>
                    <% }) %>
                </div>
            <% } %>
            <% if (locals.files && locals.files.length > 0) { %>
                <h3>Files</h3>
                <div>
                    <% locals.files.forEach(file => { %>
                        <a href="/<%= file.path %>"><%= file.name %></a>
                        <%- include('partials/_deleteFile', { currentPath: currentPath, fileName: file.path}) %>
                    <% }) %>
                </div>
            <% } %>
            <div>
                Data:
                <%= JSON.stringify(locals) %>
            </div>
        </div>
    <% } else { %>
        <div><a href="/sign-in">Sign In</a></div>
        <div><a href="/sign-up">Sign Up</a></div>
    <% } %>
</body>
</html>